.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  justify-content: flex-end;
}

.links {
  display: flex;
  gap: 20px;
}

.linksRight {
  display: flex;
  align-items: center;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #5f6368;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease;
}

a:hover {
  color: #4285f4;
}

.icon {
  width: 30px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover,
.avatar:hover {
  transform: scale(1.3);
}

/* Responsive */

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .logoImg {
    width: 250px;
    margin-bottom: 15px;
  }

  .navContainer {
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .linksRight {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .logoImg {
    width: 200px;
  }

  a {
    font-size: 12px;
  }

  .avatar {
    width: 35px;
    height: 35px;
  }

  .icon {
    width: 25px;
    height: 20px;
  }
}
