/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegura altura total y evita saltos */
html {
  height: 100%;
  scrollbar-gutter: stable; 
  width: 100%;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-y: auto;           
  scrollbar-gutter: stable;   
}

#root {
  display: flex;
  flex-direction: column;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
